html {
	overflow-y: scroll;
}

body{
	margin-bottom:60px;
	margin-top:0px;

	/*kujundus*/
	background-image: url(http://enos.itcollege.ee/~mpaakspu/projekt/public/images/auction.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-color:#261a0d;
	color:white;
}
div.content{
	background-color:rgba(0,0,0,.7);
	border-radius:10px;
	padding-top:20px;
	padding-bottom:20px;
}
p.foot{
	color:white;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;

}

div.footer{
	height:60px;
	border-top-style: none;
	background-color:#392613;
	background: #261a0d; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#4c341a, #261a0d); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#4c341a, #261a0d); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#4c341a, #261a0d); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#4c341a, #261a0d); /* Standard syntax (must be last) */
}
input[type="text"],input[type="password"],input[type="number"]
{
	color:white;
	background-color: rgba(0,0,0,0.5);
	border: 1px solid #CCC;
}

p.lorem{
	text-align: justify;
}

button.nupp{
	white-space: normal;
}
